.footer {
	background-color: $footer-bg-color;
	padding-top: 24px;
	padding-bottom: 24px;
	&__container {
		@include flex(space-between, center, column);

		@include media {
			@include flex(space-between, center);

		}
	}
	&__text-left {
		@include text($H100, 300, $grey-light);
	}
	&__logo {
		font-family: $logo-font;
		@include text($H500, 400, $grey-light);
	}
	&__text-right {
		@include text($H50, 300, $grey-light);
	}
	&__text-marked {
		@include text($H50, 700, $text-marked-color);
	}
}
