.header {
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__backdrop {
    background-color: $backdrop-bg-color;
    position: absolute;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    &--active {
        display: block;
    }

    @include media($screen-tablet){
        display: none;
   } 
}

  &__container {
    position: relative;
    min-height: 100vh;
    @include flex(center, center);
    @include media($screen-tablet) {
      @include flex(flex-start, center);
    }
  }

  &__content {
    text-align: center;
    @include media($screen-tablet) {
      text-align: left;
    }
  }

  &__title {
    @include text($H750, 900);
    margin-bottom: 20px;
    @include media($screen-iphone-plus) {
      @include text($H800, 900);
    }
  }

  &__text {
    width: 100%;
    @include text($H200, 300);
    line-height: 27px;
    padding-bottom: 51px;
    @include media($screen-iphone-plus) {
      width: 368px;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
}
