.navigation {
  background-color: $navigation-bg-color;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;  

  @include media($screen-tablet){
    height: 90px;
  }

  &__container {
    @include flex(space-between, center);
    height: 100%;
    padding: 0px;
  }

  &__logo {
    padding-left: 24px;

    @include media($screen-desktop-large){
      padding-left: 0px;
    }
  }

  &__list {
    width: 100%;
    position: absolute; 
    top: -400px;
    background-color: $navigation-bg-color;
    padding: 50px 40px;
    transition: all 0.3s ease 0s;
    z-index: 5;

    &--active {
        top: 50px;            
    }

    @include media($screen-tablet){
      @include flex ;
      position: static;
      width: auto;
      padding: 0;
      padding-right: 24px;

      background-color: transparent;
    }

    @include media($screen-desktop-large){
      padding-right: 0px;
    }
  }

  &__item {
    text-align: center;

    &:not(:last-of-type) {
        margin-bottom: 30px;
    }

    @include media($screen-tablet){
        &:not(:last-of-type) {
            margin-bottom: 0px;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
  }

  &__link {
    color: $text-main-color;
    font-size: $H100;
    font-weight: 700;
    transition: all 0.2s ease;
    border-top: 2px solid transparent;
    &:hover {
      border-color: $header-btn-color;
    }
  }
}
